
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

#anchor1
{
    font-size: 25px;
    background-color:white;
    text-align:center;
    border-radius: 30px;
    border: 5px white;
    color:black;
    width: 30%;
    box-shadow:5px 5px 5px grey;

}

#anchor2
{
    font-size: 25px;
    background-color:white;
    text-align:center;
    border-radius: 30px;
    border: 5px white;
    color:black;
    width: 30%;
    box-shadow:5px 5px 5px grey;

}

#anchor3
{
    font-size: 25px;
    background-color:white;
    text-align:center;
    border-radius: 30px;
    border: 5px white;
    color:black;
    width: 30%;
    box-shadow:5px 5px 5px grey;

}

#anchor4
{
    font-size: 25px;
    background-color:white;
    text-align:center;
    border-radius: 30px;
    border: 5px white;
    color:black;
    width: 30%;
    box-shadow:5px 5px 5px grey;

}

.note
  {
    font-size: 15px;
    color: black;
    background:yellow;
  }
